@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/js/Login/Index.js"></script>
}

<br /><br /><br /><br />
<body>
    <p>@Context.Session.GetString("nome")</p>
    
</body>

