
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/js/Login/Index.js"></script>
}

<br /><br /><br /><br />
<body>
    
    
</body>

