@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<br /><br /><br /><br />
<body>
    <p>@Context.Session.GetString("nome")</p>
    
</body>

