
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{ 
    <script src="~/js/Login/Index.js"></script>
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrapper fadeInDown">
                <div id="formContent">
                    <!-- Tabs Titles -->
                    <!-- Icon -->
                    <br />
                    <div class="fadeIn first">
                        <img src="~/images/logo-lanchonete.png" style="width:150px; height:100px;"  id="icon" alt="User Icon" />
                    </div>
                    <br />
                    <!-- Login Form -->
                    <form>
                        <input type="text" id="cpf" class="fadeIn second" placeholder="usuário">
                        <span id="reqUsuario" class="requerido">*</span>
                        <input type="password" id="senha" class="fadeIn third" placeholder="senha">
                        <span id="reqSenha" class="requerido">*</span>
                        <input type="button" style="background-color:#56baed;" class="fadeIn fourth" value="Entrar" onclick="index.logar()">
                        <div id="divMsg"></div>
                    </form>
                    
                    @*<div id="formFooter1">
                        <a class="underlineHover" href="CadastrarFuncionario/Index">Registrar</a>
                    </div>*@
                </div>
            </div>    
        </div>
    </div>
</div>


